@import "../styles/animation.css";

.hero {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-position: left;
  background-size: 100%;
  background-repeat: no-repeat;
}

.hero__container {
  display: flex;
  height: 100dvh;
  width: 85%;
  align-items: center;
  justify-content: space-evenly;
  align-self: center;
}

.hero__pic {
  height: 319px;
  width: 378px;
  max-width: 322px;
  max-height: 603px;
  border-radius: 50%;
  border: 5px solid rgb(0, 255, 213);
  filter: var(--shadow-blue);
  animation: floatingIcon 3s ease infinite 0.4s;
  background-image: url("../img/sofidevProfile.webp");
  background-size: cover;
}

.profile__pic:hover {
  background-image: url("../img/sofidevBlue.webp");
}

.hero__text {
  font-family: var(--text-hiligths);
  color: var(--text-ligth);
}
.hero__titulo {
  font-family: var(--titles);
  font-size: var(--title-size);
  margin-bottom: 5px;
  font-weight: 600;
  color: white;
}

.hero__description {
  font-size: 2.4rem;
  text-align: center;
  font-family: var(--text-hiligths);
  margin-bottom: 8px;
  animation: text-blur 1.4s cubic-bezier(0.55, 0.083, 0.68, 0.53) 0.1s both;
}
.hero__social {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
}
.hero__icon {
  font-size: 2rem;
}

.hero__icon:hover {
  transform: scale(1.2);
}
.hero__icon--mail {
  font-size: 2.7rem;
  filter: invert(1) saturate(0);
}
.hero__icon--github,
.hero__icon--linkedin {
  filter: invert(1) saturate(0);
}

@media screen and (max-width: 768px) {
  .hero__container {
    flex-direction: column-reverse;
    justify-content: center;
    height: 80dvh;
  }
  .hero__pic {
    min-width: 275px;
    max-height: 280px;
    max-width: 280px;
    margin-top: 3rem;
  }
  .hero__titulo {
    text-align: center;
    font-size: 3.6rem;
    margin-top: 10px;
  }
  .hero__description {
    font-size: 1.8rem;
  }
}
