@import url("../styles/animation.css");

.skills {
  position: relative;
  display: flex;
  width: 100%;
  height: 90dvh;
  gap: 4rem;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: var(--gradient-blue);
}

.skills__title {
  font-size: var(--title-size);
  font-family: var(--titles);
}
.skills__container {
  align-self: center;
  display: flex;
  width: 50%;
  justify-content: center;
  flex-wrap: wrap;
  gap: 38px;
}

.card {
  height: 185px;
  width: 135px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  border-radius: 13px;
  padding: 3rem 3rem;
  background-color: #16161658;
  z-index: 5;
  backdrop-filter: blur(1px);
  border: 1px solid rgba(0, 255, 255, 0.13);
}

.card:hover {
  filter: var(--shadow-blue);
  background-color: rgba(27, 1, 97, 0.13);
}
.card__icons {
  font-size: 9rem;
}
.card:hover > .card__icons {
  animation: floatingIcon 3s ease infinite 0.4s;
}
.card__icons--javascript {
  font-size: 8rem;
  margin-bottom: 3px;
}
.card__title {
  margin-top: 5px;
  font-weight: 600;
  font-size: var(--middle-size);
  font-family: var(--text-hiligths);
  background: var(--gradient-text);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media screen and (max-width: 768px) {
  .skills {
    height: auto;
    padding: 2rem 0;
  }
  .skills__img--bg {
    min-width: 321px;
  }
}
